

  
  <body>
    <section> 
    <img id="responsive-poster" alt="Movie Poster">

      <div class="movie-list-container">
        <div id="filter-name">
          <label for="genre-filter"></label>
          <select id="genre-filter"></select>
        </div>
      </div>
     
      <div id="movie-list">
        

      </div>
      <button id="load-more">Load more</button>
      
    </section>
    
      
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/MyLibrary.js"></script>
  </body>

