<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Library</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <header>
      <load src="./header.html" />
    </header>
    <main>
      <section>
        <load src="./hero.html" />
      </section>

      <section class="mylibrary-background">
        
        <div class="movie-list-container-library">
          <div id="filter-name">
            <form class="genre-cont" style="display: block">
              <select id="genre-filter"></select>
            </form>
          </div>
          <div id="movie-list-library"></div>
        </div>
        <button id="load-more">Load more</button>
      </section>
    </main>

    <footer>
      <load src="./footer.html" />
    </footer>
    <load src="./modal.html" />
    <script type="module" src="../main.js" defer></script>
    <script type="module" src="../js/MyLibrary.js" defer></script>
    <script type="module" src="../js/modal.js" defer></script>
  </body>
</html>
