
    <div class="upcoming-section">
        <div class="upcoming-section-wrapper">
          <h2 class="upcoming-header">UPCOMING THIS MONTH</h2>
          <div class="upcoming-wrapper">
            <div class="img-box"></div>
            <div class="upcoming-section-2">
              <h2 class="upcoming-header-2">NO DATA FOUND</h2>
              <div class="lists">
                <ul class="upcoming-section-2-list">
                  <li class="upcoming-section-list-1">
                    <ul class="upcoming-section-list-1">
                      <li class="upcoming-section-list-1-items">
                        <h3 class="upcoming-h3">Release date</h3>
                      </li>
                      <li class="upcoming-section-list-1-items">
                        <h3 class="upcoming-h3">Vote/Votes</h3>
                      </li>
                    </ul>
                  </li>
                  <li class="upcoming-section-list-2">
                    <ul class="upcoming-section-list-1">
                      <li class="upcoming-section-list-2-items">
                        <p class="release-date-text">03.03.2023</p>
                      </li>
                      <li class="upcoming-section-list-2-items">
                        <p class="vote-text">
                          <span class="vote-average">7.3</span>/<span
                            class="vote-count"
                            >1260</span
                          >
                        </p>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="upcoming-section-2-list-2">
                  <li class="upcoming-section-list-3">
                    <ul class="upcoming-section-list-1">
                      <li class="upcoming-section-list-3-items">
                        <h3 class="upcoming-h3">Popularity</h3>
                      </li>
                      <li class="upcoming-section-list-3-items">
                        <h3 class="upcoming-h3">Genre</h3>
                      </li>
                    </ul>
                  </li>
                  <li class="upcoming-section-list-4">
                    <ul class="upcoming-section-list-1">
                      <li class="upcoming-section-list-items">
                        <p class="popularity-text">99.9</p>
                      </li>
                      <li class="upcoming-section-list-items">
                        <p class="genre-text">Comedy,action</p>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <h3 class="upcoming-about-header">ABOUT</h3>
              <p class="upcoming-about-text">
                NO DATA FOUND
              </p>
              <button class="upcoming-button">Add to library</button>
            </div>
          </div>
        </div>
      </div>
      
      