<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>WEEKLY TRENDS</title>
    <link rel="stylesheet" href="../css/styles.css">
</head> -->
<div class="container-weekly-trends">
    <h1 class="title">WEEKLY TRENDS</h1>
    <h2 class="seeall" href="./catalog.html">See all</h2>
</div>
<div class="content">
    <div class="card" id="card1">
        <img src="../img/ghostedx1.png"
            srcset="../img/ghostedx1.png, ../img/ghosted@2x.png 2x ,../img/ghosted@3x.png 3x" alt="Ghosted Movie Poster"
            class="card-image">
        <h3>GHOSTED</h2>
            <p>Drama,<span class="s">Action </span> | 2023</p>
            <img class="card-list" src="../img/Frame 51.png">
    </div>
    <div class="card" id="card2">
        <img src="../img/QUANTUMANİAx1.png"
            srcset="../img/QUANTUMANİAx1.png, ../img/QUANTUMANİA@2x.png 2x ,../img/QUANTUMANİA@3x.png 3x"
            alt="QUANTUMANIA Movie Poster" class="card-image">
        <h3>QUANTUMANIA</h2>
            <p>Drama, <span class="s">Action </span> | 2023</p>
            <img class="card-list" src="../img/Frame 53.png">
    </div>
    <div class="card" id="card3">
        <img src="../img/EVİLDEADRİSEx1.png"
            srcset="../img/EVİLDEADRİSEx1.png, ../img/EVİLDEADRİSE@2x.png 2x ,../img/EVİLDEADRİSE@3x.png 3x "
            alt="EVIL DEAD RISE Movie Poster" class="card-image">
        <h3>EVIL DEAD RISE</h2>
            <p>Drama,<span class="s">Comedy</span>| 2023</p>
            <img class="card-list" src="../img/Frame 52.png">
    </div>
</div><!-- <script type="module" src="./main.js"></script> -->
