/* catalog ile aynı olduğu için buraya eklenenler */

.movie-card-library {
  width: 395px;
  height: 574px;
  background-color: #2a2a2a;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
}
.movie-card-library:hover {
  transform: scale(1.02);
}

.movie-card-library img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-info-library {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
  color: white;
}

.movie-title-library {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: white;
}

.movie-rating-library {
  color: #ffd700;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.movie-rating-library .stars {
  color: #ffd700;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .movie-card-library {
    width: 224px;
    height: 325px;
    border-radius: 5px;
}

.movie-title-library {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.movie-rating-library {
  font-size: 0.8rem;
}

.movie-rating-library .stars {
  font-size: 0.8rem;
}

}

/* Mobil Responsive (320px) */
@media screen and (max-width: 320px) {
.movie-card-library {
  height: 400px;
}

.movie-title-library {
  font-size: 1rem;
}
}
/* ---------- */




@media screen and (min-width: 1280px) {
  .movie-list-container-library {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    flex-direction: row;
    flex-basis: 30%;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 40px;
    margin-top: 24px;
    
  }

  #movie-list-library {
    list-style: none;
    justify-content: space-around;
    gap: 20px;
    margin: 20px auto;
    align-items: flex-start;
    margin-bottom: 24px;
    row-gap: 32px;
    flex-direction: row;
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin-top: 104px;

  }
  .movie-poster-library {
    width: 72px;
    height: 40px;
    top: 878px;
    left: 32px;
  }
  .message-btn-library {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #load-more {
    width: 134px;
    height: 52px;
    top: 2722px;
    left: 573px;
    border-radius: 74px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    font: Roboto;
    font-weight: 500px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(17, 17, 17, 1);
    display: block;
    cursor: pointer;
    flex-direction: row;
    display: block;
    margin: 0% auto;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  #filter-name {
    display: flex;
    justify-content: start; /* Ortalamak için */
    margin-bottom: 20px;
    padding-left: 32px;
    margin-top: 20px;
  }

  #genre-filter {
    width: 260px;
    height: 48px;
   background: rgba(28, 28, 28, 1);
    color: rgba(183, 183, 183, 1);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    justify-content: start;
    margin-top: 5px;
    flex-direction: row;
  }

  .no-movies-message {
    width: 584px;
    height: 124px;
    top: 880px;
    left: 348px;
    font-family: Roboto;
    font-weight: 400px;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(30, 25, 25);
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .search-btn-library {
    width: 158px;
    height: 52px;
    top: 1032px;
    left: 561px;
    border-radius: 74px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    font-family: Roboto;
    font-weight: 500px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .movie-rating-library {
    width: 106px;
    height: 18px;

    margin-right: 5px;
  }
}
/*tablet*/
@media screen and (max-width: 1279px) {
  .mylibrary-background {
    box-sizing: border-box;
    display: block;
    
  }
  .no-movies-message {
    width: 438px;
    height: 104px;
    top: 512px;
    left: 165px;
    font-family: Roboto;
    font-weight: 400px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
  }
  #genre-filter {
    width: 144px;
    height: 44px;
    top: 492px;
    left: 32px;
    border-width: 1px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(183, 183, 183, 1);
   background: rgba(28, 28, 28, 1);
   font-family: Roboto;
   margin-top: 30px;
   border-radius: 8px;
   text-align: center;
   margin-left: 60px;
  }
  .search-btn-library {
    width: 133px;
    height: 40px;
    top: 640px;
    left: 317px;
    border-radius: 74px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    font-family: Roboto;
    font-weight: 500px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
  }
  #load-more {
    width: 134px;
    height: 52px;
    top: 2722px;
    left: 573px;
    border-radius: 74px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    

  }
  .movie-list-container-library {
        column-gap: 12px;
        row-gap: 10px;
        padding: 0 20px;
        margin-top: 0;
        justify-content: flex-start;
    
  }
  .message-btn-library {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #movie-list-library {
    list-style: none;
    justify-content: space-around;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 30px;

  }
  .movie-rating-library {
    width: 66px;
    height: 10px;
    gap: 4px;
  }
  .movie-poster-library{
    width: 224px;
    height: 325px;
  }
}

@media screen and (max-width: 768px) {
  #genre-filter {
    width: 173px;
    height: 40px;
    top: 468px;
    left: 10px;
    border-width: 1px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(183, 183, 183, 1);
   background: rgba(28, 28, 28, 1);
   font-family: Roboto;
   font-weight: 500px;
   font-size: 14px;
   line-height: 100%;
    letter-spacing: 0%;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   margin-left: 72px;
  }
  
  #load-more {
    width: 106px;
    height: 38px;
    top: 4330px;
    left: 107px;
    border-radius: 74px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: block;
  margin: 20px auto; /* Yatayda ortalar, dikeyde 20px boşluk verir */
  
  }
  .no-movies-message {
    width: 280px;
    height: 120px;
    top: 472px;
    left: 21px;
    font-family: Roboto;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    justify-content: center;
  }
  .search-btn-library {
    width: 121px;
    height: 38px;
    top: 612px;
    left: 99px;
    border-radius: 74px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    gap: 10px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    font-family: Roboto;
    font-weight: 500px;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 24px;
    cursor: pointer;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .message-btn-library {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #movie-list-library {
    display: grid;
    width: 280px;
    height: 406px;
    border-radius: 5px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    row-gap: 24px;
    column-gap: 12px;
    margin-left: 54px;
     grid-template-columns: repeat(1, 1fr);
   

  }
  .movie-list-container-library {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  .movie-rating-library {
    width: 86px;
    height: 14px;

    gap: 4px;
  }
}
