.container-weekly {
  width: 1280px;
  margin: auto;
}
.container-weekly-trends {
  display:flex; 
  align-items: center;
  justify-content: space-between; 
  padding-top: 80px;
  padding-bottom: 28px;
  padding-left: 32px;
  padding-right: 32px; 
}
.title {
  width: 215px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.seeall {
  width: 84px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f87719;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 60px;
  width: 100%;
  overflow: hidden;
}
.card {
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card:hover {
  transform: scale(0.9);
}

.content .card h3 {
  width: 223px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: -74px;
  margin-left: 20px;
}
.content .card p {
  width: 223px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #b7b7b7;
  margin-left: 20px;
  margin-top: 10px;
}

.stars {
  display: inline-flex;
  align-items: center;
}

.star {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.1em;
}

.star.full use,
.star.half use {
  fill: url(#star-gradient);
}

.star.empty use {
  stroke: url(#star-gradient);
  fill: none;
}



@media (min-width: 768px) and (max-width: 1279px) {
  .title {
    width: 185px;
    font-size: 24px;
  }
  .seeall {
    width: 72px;

    font-size: 24px;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .card h3 {
    width: 112px;
    font-size: 12px;
  }
  .content .card p {
    width: 112px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .title {
    width: 123px;
    font-size: 16px;
  }
  .seeall {
    width: 48px;
    font-size: 16px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .card {
    display: block;
    column-gap: 16px;
    overflow: hidden;
    position: relative;
  }
  .content .card h3 {
    width: 72px;
    font-size: 12px;
  }
  .content .card p {
    width: 72px;
    font-size: 12px;
  }
}
